In [2]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [3]:
!ls /gdrive/MyDrive/AdventOfCode

Day1  Day2  Day3  Day4

# Day 1

## Part 1

In [ ]:
data_day1 = pd.read_table("/gdrive/MyDrive/AdventOfCode/Day1/input.txt", header=None, names=["input"])

In [ ]:
print(type(data_day1))
print(type(data_day1.input))

# display(data_day1)
(data_day1.input.diff() > 0).sum()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

1665

In [ ]:
# %%time
(data_day1.input.diff() > 0).sum()

1665

In [ ]:
%%timeit
soma_crescendo = 0
for i in range(data_day1.input.size - 1):
    if data_day1.input.values[i] < data_day1.input.values[i + 1]:
        soma_crescendo += 1
soma_crescendo

CPU times: user 44.7 ms, sys: 624 Âµs, total: 45.4 ms
Wall time: 61.1 ms

## Part 2

In [ ]:
data_day1['part2'] = data_day1.input.rolling(3).sum()

In [ ]:
(data_day1.part2.diff() > 0).sum()

1702

In [ ]:
list_soma_3 = []
for i in range(data_day1.input.size - 2):
    list_soma_3.append(data_day1.input.values[i] + data_day1.input.values[i + 1] + data_day1.input.values[i + 2])

In [ ]:
soma_crescendo = 0
for i in range(len(list_soma_3)):
    try:
        if list_soma_3[i] < list_soma_3[i + 1]:
            soma_crescendo += 1
    except:
        pass
soma_crescendo

1702

# Day 2

## Part 1

In [ ]:
data_day2 = pd.read_table("/gdrive/MyDrive/AdventOfCode/Day2/input.txt", header=None, delimiter=' ', names=['command', "value"])
data_day2

     command  value
0    forward      6
1    forward      6
2       down      6
3       down      5
4         up      2
..       ...    ...
995       up      4
996       up      4
997  forward      8
998  forward      1
999  forward      2

[1000 rows x 2 columns]

In [ ]:
data_day2['x'] = data_day2.loc[data_day2.command == 'forward', 'value']
data_day2['y'] = data_day2.apply(lambda x: -x['value'] if x['command'] == 'up' else x['value'] if x['command'] == 'down' else np.NaN, axis=1)

In [ ]:
print(f'x: {data_day2.x.sum()} | y : {data_day2.y.sum()} | total: {data_day2.x.sum() * data_day2.y.sum()}')

x: 1988.0 | y : 913.0 | total: 1815044.0

In [ ]:
x = 0
y = 0
with open('/gdrive/MyDrive/AdventOfCode/Day2/input.txt') as f:
    for l in f:
        command, value = l.split(' ')
        if command == 'forward':
            x += int(value)
        elif command == 'down':
            y += int(value)
        elif command == 'up':
            y -= int(value)
print(x * y)

1815044

## Part 2

In [ ]:
data_day2['aim'] = data_day2.y.cumsum().fillna(method='ffill').fillna(0)

In [ ]:
data_day2['y_2'] = data_day2.apply(lambda x: x['aim'] * x['value'] if x['command'] == 'forward' else np.NaN, axis=1)

In [ ]:
print(f'x: {data_day2.x.sum()} | y2 : {data_day2.y_2.sum()} | total: {data_day2.x.sum() * data_day2.y_2.sum()}')

x: 1988.0 | y2 : 874891.0 | total: 1739283308.0

In [ ]:
x = 0
aim = 0
y = 0
with open('/gdrive/MyDrive/AdventOfCode/Day2/input.txt') as f:
    for l in f:
        command, value = l.split(' ')
        if command == 'forward':
            x += int(value)
            y += aim * int(value)
        elif command == 'down':
            aim += int(value)
        elif command == 'up':
            aim -= int(value)
print(x * y)

1739283308

# Day 3

## Part 1

In [ ]:
data_day3 = pd.read_table("/gdrive/MyDrive/AdventOfCode/Day3/input.txt", header=None, names=['data'], dtype=str)
data_day3 = data_day3.data.apply(lambda x: pd.Series(list(x)))
data_day3

    0  1  2  3  4  5  6  7  8  9  10 11
0    1  0  1  0  1  1  1  1  1  0  0  1
1    1  0  0  1  0  0  1  1  0  1  1  1
2    1  0  1  0  1  0  1  0  1  0  1  1
3    0  1  0  1  0  0  0  1  0  0  0  0
4    0  0  1  1  0  1  1  0  1  1  0  1
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  0  1  0  0  0  0  0  0  1  0  1  1
996  1  0  0  0  0  0  0  1  0  0  1  1
997  0  1  0  1  1  1  0  1  0  1  1  1
998  1  0  1  1  1  1  1  0  0  0  1  0
999  0  1  0  1  0  0  0  1  0  0  1  1

[1000 rows x 12 columns]

In [ ]:
most_commom = data_day3.apply(lambda x: x.mode()).iloc[0]
least_commom = data_day3.apply(lambda x: (x.mode().astype(int) - 1).abs().astype(str)).iloc[0]

In [ ]:
gamma = int(''.join(most_commom.values), 2)
epsilon = int(''.join(least_commom.values), 2)
gamma * epsilon

3320834

## Part 2

In [ ]:
new_data = data_day3
for col in data_day3.columns:
    counts = new_data[col].value_counts()
    if (counts.diff().iloc[1] == 0.0):
        new_data = new_data.loc[new_data[col] == '1']
        continue
    new_data = new_data.loc[new_data[col] == counts.index[0]]
o2_rating = ''.join(new_data.values[0])

In [ ]:
new_data = data_day3
for col in data_day3.columns:
    counts = new_data[col].value_counts()
    if (counts.diff().iloc[-1] == 0.0):
        new_data = new_data.loc[new_data[col] == '0']
        continue
    new_data = new_data.loc[new_data[col] == counts.index[-1]]
co2_rating = ''.join(new_data.values[0])

In [ ]:
int(o2_rating, 2) * int(co2_rating, 2)

4481199

# Day 4

## Part 1

In [ ]:
random_numbers = None
games = []

with open('/gdrive/MyDrive/AdventOfCode/Day4/input.txt') as f:
    random_numbers = np.asarray(f.readline().split(','), dtype=int)
    for l in f:
        games.append(np.asarray([f.readline().strip().replace('  ', ' ').split() for _ in range(5)], dtype=int))

games = np.asarray(games)

In [ ]:
def get_first_win_result(games):
    game_check = np.zeros(games.shape, dtype=bool)
    unmarked_sum = 0
    for n in random_numbers:
        for i in range(games.shape[0]):
            game_check[i] = game_check[i] | (games[i] == n)
            col_check = game_check[i].all(axis=0).any()
            row_check = game_check[i].all(axis=1).any()
            if col_check or row_check:
                return n, games[i][np.logical_not(game_check[i])].sum()

last_number, unmarked_sum = get_first_win_result(games)

last_number * unmarked_sum

16716

## Part 2

In [ ]:
def get_last_win_result(games):
    game_check = np.zeros(games.shape, dtype=bool)
    unmarked_sum = 0
    win_board_sequence = []
    win_board_details = {}
    for n in random_numbers:
        for i in range(games.shape[0]):
            if i not in win_board_sequence:
                game_check[i] = game_check[i] | (games[i] == n)
                col_check = game_check[i].all(axis=0).any()
                row_check = game_check[i].all(axis=1).any()
                if col_check or row_check:
                    # print('Win board', i)
                    win_board_sequence.append(i)
                    win_board_details[i] = {'n': n, 'unmarked_sum': games[i][np.logical_not(game_check[i])].sum()}
    # print('Last board to win', win_board_sequence[-1], win_board_details[win_board_sequence[-1]])
    # print(games[i], '\n' ,game_check[i])
    return win_board_details[win_board_sequence[-1]]['n'], win_board_details[win_board_sequence[-1]]['unmarked_sum']

last_number, unmarked_sum = get_last_win_result(games)

last_number * unmarked_sum

4880

# Day5

## Part 1

In [43]:
grid = np.zeros((1000, 1000))

with open('/gdrive/MyDrive/AdventOfCode/Day5/input.txt') as f:
    for l in f:
        ((x1, y1), (x2, y2)) = map(lambda x: map(int, x.split(',')), l.strip().split(' -> '))
        if (x1 == x2 or y1 == y2):
            grid[min(x1, x2):max(x1, x2)+1, min(y1, y2):max(y1, y2)+1] += 1

(grid >= 2).sum()

6461

## Part 2

In [89]:
grid = np.zeros((1000, 1000))

with open('/gdrive/MyDrive/AdventOfCode/Day5/input.txt') as f:
    for l in f:
        ((x1, y1), (x2, y2)) = map(lambda x: map(int, x.split(',')), l.strip().split(' -> '))
        if (x1 == x2 or y1 == y2):
            grid[min(x1, x2):max(x1, x2)+1, min(y1, y2):max(y1, y2)+1] += 1
        else:
            min_point = min((x1, y1), (x2, y2))
            max_point = max((x1, y1), (x2, y2))
            grid_aux = grid[min(x1, x2):max(x1, x2)+1, min(y1, y2):max(y1, y2)+1]
            
            for i in range(grid_aux.shape[0]):
                if (sum(min_point) > sum(max_point)):
                    grid_aux[i, i] += 1
                else:
                    grid_aux[grid_aux.shape[0]-i-1, i] += 1

(grid >= 2).sum()

19954